<mat-form-field>
  <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="'SELECT'">
          <mat-select placeholder="Select Customer" [formControl]="user" (blur)="_onTouched()" (selectionChange)="onValueChanged($event)">
            <mat-option [value]="customer" *ngFor="let customer of customers$ | async">
                  {{customer.name}}
              </mat-option>
          </mat-select>
      </ng-container>

      <ng-container *ngSwitchCase="'AUTO_COMPLETE'">
          <input (input)="changeInput()" matInput placeholder="Search customer and select" [formControl]="user" (blur)="_onTouched()" [matAutocomplete]="auto">
          <mat-autocomplete (optionSelected)="onOptionSelected($event)"  #auto="matAutocomplete" [displayWith]="displayRecordName">
              <mat-option [value]="customer" *ngFor="let customer of filterCustomers$ | async">
                  {{customer.name}}
              </mat-option>
          </mat-autocomplete>
      </ng-container>

  </ng-container>
</mat-form-field>


