/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
  
  /*
   * Sidebar
   */
  
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  
  .bi-calendar3 {
    width: 2.5rem;
    height: 2.5rem;
  }


  ////////
  input.invalid,select.invalid,textarea.invalid {
    border: solid 1px red !important;
  }
  
  .cross {
    width: 16px;
    height: 16px;
    background: rgb(20, 19, 19);
    color: #fff;
    padding: 2px 0px;
    text-align: center;
    border-radius: 50%;
    font-size: 8px;
    cursor: pointer;
    display: block;
    margin-left: 10px;
    background-color: var(--bs-blue);
  }

.tabs .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
  min-height: calc(100vh - 50px);
}