
<mat-form-field [appearance]="appearance" [style.width.%]="100">
  <mat-label>{{label}}</mat-label>
  <mat-chip-list #selectedRecordsList>
    <mat-chip *ngFor="let record of selectedRecords" [removable]="true" (removed)="removeRecord(record)" [selectable]="false">
      {{ record[this.displayKey] }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <input
      matInput 
      #userInput
      [matChipInputFor]="selectedRecordsList"
      [formControl]="user"
      type="text" 
      [placeholder]="placeholder" 
      [matAutocomplete]="recordSugessionPanelRef" 
    />
  </mat-chip-list>
  <mat-autocomplete 
    #recordSugessionPanelRef="matAutocomplete"
    [displayWith]="displayRecordName"
    (optionSelected)="onOptionSelected($event)"
    (opened)="reorderOptions()">
    <mat-option *ngFor="let record of records$ | async" [value]="record">
      <mat-checkbox [checked]="checkedSelectedRecord(record)">
        {{ record[this.displayKey] }}  
      </mat-checkbox>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

{{ user.value | json }}

