

<div class="container mt-5">
    <form  [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3 gap-2 d-flex justify-content-end">
        <button class="btn btn-primary">Save</button>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            formControlName="title"
            [class.invalid]="title.touched  && title.invalid"
          />
        </div>

        <div class="col-md-6">
          <app-autocomplete 
            formControlName="users"
            [displayKey]="'name'"
            [matchIdKey]="'id'"
            [getDataCB] = "getUsersCB"
            [label]="'Users'"
          ></app-autocomplete>
        </div>

        <div class="col-md-6">
          <app-single-autocomplete
            formControlName="user"
            type="SELECT"
          ></app-single-autocomplete>
        </div>
        
        <app-rbase-periods [basePeriods]="basePeriods"></app-rbase-periods>
      </div>
  
      <div class="mt-3 gap-2 d-flex justify-content-end">
        <button class="btn btn-primary">Save</button>
      </div>
    </form>

    {{ form.value | json }}
</div>


